{% extends 'base.html' %}
{% load django_tables2 %}
<!--{% load querystring from django_tables2 %}-->

{% block head %}
<!--    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">-->
<!--    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />-->

{% endblock%}

{% block content %}

{% if user.is_authenticated %}
<br>
<div class="row">

    <div class="col-md">
        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                <h3>Filter by stations</h3>
                    <form method="get">
                        {{ stFilter.form.as_p }}
                        <button class="btn btn-primary" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-3">
                <div class="card text-center text-white  mb-3" id="total-orders">
                    <div class="card-header">
                        <h5 class="card-title">Subsurface/Surface Sediment Samples</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{subsurf_count}}/{{surf_count}}</h3>
                    </div>
                </div>
                <div class="card text-center text-white  mb-3" id="orders-delivered">
                    <div class="card-header">
                        <h5 class="card-title">IDO/kf Profiles</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{idoc_count}}/{{kf_count}}</h3>
                    </div>
                </div>
                <div class="card text-center text-white  mb-3" id="orders-pending">
                    <div class="card-header">
                        <h5 class="card-title">Flow Velocity Measurements</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{v_count}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body">
                {% autoescape off %}
                    {{ mapboxfig }}
                {% endautoescape %}
                </div>
            </div>
	    </div>
        <br>
        <div class="row">
            <div class="card card-body">
                <h3>Measurement Stations</h3>

                {% render_table station_table %}
                <div class="margin-right">
                    <a href="{% querystring '_export_st'='csv' %}"><button class="btn btn-primary">Download CSV</button></a>
                    <a href="{% querystring '_export_st'='xlsx' %}"><button class="btn btn-primary">Download XLSX</button></a>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="card card-body">
                <h3>Subsurface Sediment Samples</h3>

                {% render_table subsurf_tb_show %}
                <div class="margin-right">
                    <a href="{% querystring '_export'='csv' %}"><button class="btn btn-primary">Download CSV</button></a>
                    <a href="{% querystring '_export'='xlsx' %}"><button class="btn btn-primary">Download XLSX</button></a>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="card card-body">
                <h3>Intragravel Dissolved Oxygen</h3>
                {% render_table idoc_table %}
                <div class="margin-right">
                    <a href="{% querystring '_export_idoc'='csv' %}"><button class="btn btn-primary">Download CSV</button></a>
                    <a href="{% querystring '_export_idoc'='xlsx' %}"><button class="btn btn-primary">Download XLSX</button></a>
                </div>
            </div>
        </div>

    </div>
</div>

<p><a href="{% url 'flussdata:logout' %}?next={{ request.path }}"><button class="btn btn-primary">Log out</button></a></p>


{% else %}
<div class="card card-body">
    <h2>User Authentication Required </h2>
    <p><a href="{% url 'flussdata:login' %}?next={{ request.path }}">Login</a> to have access to the database.</p>
</div>
{% endif %}
{% endblock %}

