{% extends 'base.html' %}
{% load django_tables2 %}
<!--{% load querystring from django_tables2 %}-->

{% block head %}
<!--    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">-->
<!--    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />-->

{% endblock%}

{% block content %}
<h1><p>Coming soon</p></h1>
{% endblock %}

