{% extends 'base.html' %}
{% block content %}

<h1>FlussModify</h1>

<p>
    <input type="checkbox" name="class1"><br>
    Freezecore </p><br>

<!--    DRAG AND DROP ZONE-->
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">

    <form action="modify/upload" method="POST" class="dropzone dz" id="my-dropzone">
        {%csrf_token%}
        <div class="fallback">
            <input name="myfile" type="file" multiple />
        </div>
    </form>


{% endblock %}