{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

    <br>
        <!--    DRAG AND DROP ZONE-->
        <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
        <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
        <h2>Upload area</h2>
        <div>
            <p>For adding data to the DB, select the <b>type of collected data</b>, and upload in the dropzones below
            the data tables as csv files. Please load only tables according to the tables template (see
                <a href="query">here</a>). Alternatively,
            the DB can also be updated (both edits and add-ons) in the
            admin page (link <a href="/admin">here</a>). </p>

        </div>

        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                        <form action="modify/upload/" method="POST" class="dropzone dz" id="my-dropzone">
                            {%csrf_token%}
                            {{ form.as_p }}

                            <div class="fallback">
                                <input name="file" type="file" multiple />
<!--                                <input type="submit" value="Upload to Database" />-->
                            </div>
                        </form>
                    {{ message }}
                </div>
            </div>
        </div>

{% else %}
    <div class="card card-body">
        <h2>User Authentication Required </h2>
        <p><a href="{% url 'flussdata:login' %}?next={{ request.path }}">Login</a> to have access to the database.</p>
    </div>
{% endif %}

{% endblock %}