{% extends 'base.html' %}
{% load render_table from django_tables2 %}


{% block content %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <p>
            <input type="checkbox" name="class1"><br>
            Freezecore
            </p>
            <br>

<!--            <p><label for="inp06"> Which Database:-->
<!--                <select name="meas-table" id="inp05">-->
<!--                    <option value=""> &#45;&#45; Please select &#45;&#45; </option>-->
<!--                    <option value="slurp-drop"> Slurping </option>-->
<!--                    <option value="fc-drop">Freezecore</option>-->
<!--                </select>-->
<!--                </label>-->
<!--            </p>-->


            <form action="upload" method="POST" class="dropzone">
            {%csrf_token%}
                <div class="fallback">
                    <input name="table_fc" type="file" multiple />
                </div>
            </form>
        </div>
        <div class="card card-body">
            <h1>Table</h1>
            <form method="get">
                {{ myFilter.form }}
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
            {% render_table table_show %}
        </div>
    </div>
</div>

{% endblock %}

