{% load static %}
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
<!--      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


      <!--    Custom css & js (dropzone)--><link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
      <script src="{% static 'main.js' %}"></script>

    <!-- favicon TO DO -->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <!-- INSERT ADITIONAL INFORMATION TO THE HEAD TAG HERE-->
      {% block head %}
      {% endblock%}

    <!-- CHANGES THE PAGE TITLE IF THE VARIABLE "title" IS PASSED BY THE VIEW -->
    {% if title %}
        <title>{{title}}</title>
    {% else %}
    <!-- USE DEFAULT TITLE TEXT IF NO VARIABLE "title" IS PASSED BY THE VIEW -->
        <title>Flussdata</title>
    {% endif %}

  </head>
  <body>
    <!-- BOOTSTRAP NAVBAR CODE -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img style="height: 36" src="{% static 'images/flussicon.png' %}">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if navbar == 'home' %} active {% endif %}" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if navbar == 'activequery' %} active {% endif %}" href="{% url 'flussdata:query' %}">Query</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if navbar == 'activemodify' %} active {% endif %}" href="{% url 'flussdata:modify' %}">Modify</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- END OF NAVBAR CODE-->


    <div class="container-fluid mt-5" style="max-width: 80%">
    <!-- INSERT THE CONTENT FROM SPECIFIC PAGES HERE-->
        {% block content %}
        {% endblock  %}
    </div>
    <br>
    <br>
    <br>
    <br>
<!-- Footer -->
  <footer class="bg-white">
    <div class="container py-5">
      <div class="row py-4">
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0"><img src="img/logo.png" alt="" width="180" class="mb-3">

<!--          <ul class="list-inline mt-4">-->
            <h1><a href="https://github.com/Ecohydraulics"><i class="icon ion-social-github"></i></a></h1>
            <p class="font-italic text-muted">Flussdata Team</p>
            <!--            <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fa fa-pinterest"></i></a></li>-->
<!--            <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fa fa-vimeo"></i></a></li>-->
<!--          </ul>-->
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Contributors</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="https://beatriznegreiros.com/" class="text-muted">Beatriz Negreiros</a></li>
            <li class="mb-2"><a href="https://sebastian-schwindt.org/" class="text-muted">Sebastian Schwindt</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">About</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="https://www.iws.uni-stuttgart.de/lww/" class="text-muted">Department of Hydraulic Engineering and Water Resources Management</a></li>

          </ul>
        </div>
        <div class="col-lg-4 col-md-6 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Get in touch</h6>
          <p class="text-muted mb-4"></p>
<!--          <div class="p-1 rounded border">-->
            <p><a href="mailto:beatriz.negreiros@iws.uni-stuttgart.de">beatriz.negreiros@iws.uni-stuttgart.de</a></p>
        </div>
      </div>
    </div>

    <!-- Copyrights -->
    <div class="bg-light py-4">
      <div class="container text-center">
        <p class="text-muted mb-0 py-2">© FlussTeam. All rights reserved.</p>
      </div>
    </div>
  </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

  </body>
</html>