{% load static %}
{% extends 'base.html' %}
{% block content %}


<h1>Welcome to Flussdata</h1>
<p>Flussdata is a database management tool and repository for
    field investigations performed by the
    Hydro-morphology Research Groud of the Department of Hydraulic
    Engineering and Water Resources Management, University of Stuttgart (Germany).
</p>
<p>
    Only authorized researchers are allowed to access the <strong>fluss</strong>database.
    Check out the tab <em>Database</em> in the menu for user-authentication and further
    usage.
</p>


{% endblock %}