{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md">
        <div class="card card-body">

            <h2>Welcome</h2>
            <p>River Analyst is a database management tool and repository for leveraging hydro-environmental analyses of
				exponentially-growing river data.
            </p>
            <p>
            	Only authorized researchers are allowed to modify (Admin tab) the database.
				Credentials can be granted by our team in the spirit of research collaboration.
			</p>

<!--			<p><a href="mailto:beatriz.negreiros@iws.uni-stuttgart.de"><button class="btn btn-primary" type="submit">Get in touch</button></a></p>-->
        </div>

    </div>
</div>

<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Subsurface/ Surface Sediment Samples</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_subsurf}}/ {{total_surf}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">IDO/ kf Depth Profiles</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_idoc}}/ {{total_kf}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Points of Hydraulic Measurements</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_v}}</h3>
			  	</div>
			</div>
		</div>
	</div>

</div>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h2>Examples of measuring methods</h2>
				<p><h4>MultiPAC</h4></p>
					<p>MultiPAC (<a href="https://onlinelibrary.wiley.com/doi/10.1002/rra.4145">Negreiros et al., 2023</a>; <a href="https://henry.baw.de/bitstream/20.500.11970/107414/1/276_Mitteilungen_UniStuttgart_Seitz.pdf">Seitz, 2020</a>) is a multi-parameter approach to assess riverbed clogging and vertical hyporheic connectivity, which consists of
						measuring multiple riverbed physico-chemical parameters, namely riverbed:
						<ul>
							<li>grain size characteristics </li>
							<li>porosity</li>
							<li>interstitial dissolved oxygen (IDO)</li>
							<li>hydraulic conductivity (kf) </li>
						</ul>
					The grain size and riverbed porosity are derived from freeze cores and represent bulk parameter
			values for a given xy measurement point. The interstitial dissolved oxygen (IDO) and hydraulic conductivity
			(kf) are measured as vertical profiles along the riverbed depth and thus enable to locate depths layers with
			low hyporheic habitat quality.</p>

			<div class="row text-center">
				<div class="col-md"><img src="{% static 'images/slurp-pic.jpg' %}" alt="Slurp" width="500"><p>Measuring setup for the hydraulic conductivity (kf)</p></div>

				<div class="col-md"><img src="{% static 'images/fieldwork.jpg' %}" alt="Fieldwork" width="520"><p>Measuring setup for the hydraulic conductivity (left) freeze core method (right)</p></div>
			</div>

			<p><h4> FlowTracker2</h4></p>

				<p>The FlowTracker2 is an ADV (Acoustic Doppler Velocimeter) measurement device which enables to determine
					multi-dimensional flow velocity vectors (x, y, and z). This data is crucial for the validation of hydrodynamic numerical models. Additional hydrodynamic data, such as turbulent kinetic
					energy (TKE), can be derived from measured temporal velocity fluctuations to investigate morphological features for habitat enhancement.
					</p>

			<p><h4> Surface and subsurface sediment sampling</h4></p>
				<p>Sieving analyses of surface and subsurface samples from the overlayer and underlayer, respectively,
					enable toderive several sedimentological parameters that characterize the substrate.</p>


<!--			<p><a href="mailto:beatriz.negreiros@iws.uni-stuttgart.de"><button class="btn btn-primary" type="submit">Get in touch</button></a></p>-->
        </div>
		<br>


    </div>
</div>


<div class="row">
    <div class="col-md">
        <div class="card card-body">

            <p><h2>Selected publications</h2></p>
            <p class="link"><a href="https://onlinelibrary.wiley.com/doi/10.1002/rra.4145"> Negreiros, B., Aybar Galdos, A., Seitz, L., Noack, M., Schwindt, S., Wieprecht, S., & Haun, S. (2023) A multi-parameter approach to quantify riverbed clogging and vertical hyporheic connectivity. River Research and Applications. doi: 10.1002/rra.4145 </a></p>
			<p class="link"><a href="https://www.research-collection.ethz.ch/handle/20.500.11850/513098"> Kunz, M., Negreiros, B., Schwindt, S., Haun, S., Noack, M., and Wieprecht, S. (2021) Inn-ovative morphological restoration efforts. International Symposium on Bedload Management. doi: 10.3929/ethz-b-000513098 </a></p>
			<p class="link"><a href="https://henry.baw.de/bitstream/20.500.11970/107414/1/276_Mitteilungen_UniStuttgart_Seitz.pdf">Seitz, L. (2020). Development of new methods to apply a multiparameter approach-a first step towards the determination of colmation. PhD Thesis. doi: 0.18419/opus-11249 </a></p>
			<p class="link"><a href="https://www.sciencedirect.com/science/article/abs/pii/S0169555X18300278">Seitz, L., Haas, C., Noack, M., & Wieprecht, S. (2018). From picture to porosity of river bed material using Structure-from-Motion with Multi-View-Stereo. Geomorphology. doi: 10.1016/j.geomorph.2018.01.014</a></p>

<!--			<p><a href="mailto:beatriz.negreiros@iws.uni-stuttgart.de"><button class="btn btn-primary" type="submit">Get in touch</button></a></p>-->
        </div>

    </div>
</div>

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h2>Disclaimer</h2>
			<p>No warranty is expressed or implied regarding the usefulness or completeness of the information and documentation provided. References to commercial products do not imply endorsement by the Author. The concepts, materials, and methods used in the algorithms and described in the documentation are for informational purposes only. The Author has made substantial effort to ensure the accuracy of the algorithms and the documentation, but the Author shall not be held liable, nor his employer or funding sponsors, for calculations and/or decisions made on the basis of application of the scripts and documentation. The information is provided “as is” and anyone who chooses to use the information is responsible for her or his own choices as to what to do with the data. The individual is responsible for the results that follow from their decisions.</p>
			<br>
			<p>This web site contains external links to other, external web sites and information provided by third parties. There may be technical inaccuracies, typographical or other errors, programming bugs or computer viruses contained within the web site or its contents. Users may use the information and links at their own risk. The Author of this web site excludes all warranties whether express, implied, statutory or otherwise, relating in any way to this web site or use of this web site; and liability (including for negligence) to users in respect of any loss or damage (including special, indirect or consequential loss or damage such as loss of revenue, unavailability of systems or loss of data) arising from or in connection with any use of the information on or access through this web site for any reason whatsoever (including negligence).</p>

		</div>

    </div>
</div>


{% endblock %}