{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-md">
        <div class="card card-body">

            <h1>Welcome to Flussdata</h1>
            <p>Flussdata is a database management tool and repository for
            field investigations maintained by the
            Hydro-morphology Research Groud of the Department of Hydraulic
            Engineering and Water Resources Management, University of Stuttgart (Germany).
            </p>
            <p>
            	Only authorized researchers are allowed to query and modify the database.
				Credentials can be granted by our team in the spirit of research collaboration.
			</p>
<!--			<p><a href="mailto:beatriz.negreiros@iws.uni-stuttgart.de"><button class="btn btn-primary" type="submit">Get in touch</button></a></p>-->
        </div>
    </div>
</div>

<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Subsurface/Surface Sediment Samples</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_subsurf}}/{{total_surf}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">IDOC/kf Vertical Profiles</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_idoc}}/{{total_kf}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Flow Velocity Measurements</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_v}}</h3>
			  	</div>
			</div>
		</div>
	</div>

</div>


{% endblock %}