{% extends 'base.html' %}
{% load django_tables2 %}

{% block head %}

{% endblock%}

{% block content %}
<div class="card card-body">
    <h3>Spearman Correlation Matrix (depth-explicit vs. bulk parameters)</h3>
    <div class="col-md-7">
    {% autoescape off %}
    {{ corr }}
    {% endautoescape %}
    </div>
</div>
<br>
<div class="card card-body">
    <h3>Principal Component Analysis (PCA)</h3>
    <div class="row">
        <div class="col-md-7">
            {% autoescape off %}
            {{ pca2d }}
            {% endautoescape %}
        </div>
    </div>
</div>
<br>
<div class="card card-body">
    <h3>3 Main Principal Components</h3>
    <div class="row">
        <div class="col-md-7">
            {% autoescape off %}
            {{ pca3d }}
            {% endautoescape %}
        </div>
    </div>
</div>
<br>
<div class="card card-body">
    <h3>PCA Loadings</h3>
    <div class="row">
        <div class="col-md-7">
            {% autoescape off %}
            {{ loadings }}
            {% endautoescape %}
        </div>
    </div>
</div>
{% endblock %}

